*{
  margin: 0;
  box-sizing:border-box;
}

body{
  background-image: url("sfondo-blu.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  width: 95%;
  margin: auto;
  height: 30%;
}

main{
  width: 95%;
  margin: auto;
}

footer{
  margin: auto;
  width: 95%;
}

.link{
  width:30%;
  float: left;
}

.dati_personali{
  width:68%;
  float: left;
  position: relative;
  height:100%;
}

.riquadro{
  background-color: #cecece;
  border-radius: 10px;
  margin: 5px;
}

#fotoprof{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 40px;
  background-image: url("fotoprof.jpg");
  background-size: cover;
  border-radius: 50%;
}
